.image-view {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.25) , 10 , 0 , 0 , 3 );
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

.image-view:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.35) , 15 , 0 , 0 , 5 );
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.image-view:pressed {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.45) , 5 , 0 , 0 , 2 );
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
.image-view.selected {
    -fx-border-color: #4A90E2;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}
